<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
          <img src="<%IMAGE%>" alt="<%NAME%>" height="200px" width="200px" />
        </div>
        <div>
          <a href="/product?id=<%ID%>"><%NAME%></a>
        </div>
        <div>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div>
          <span><%NEWPRICE%></span>
          <span><%OLDPRICE%></span>
          <span><%DISCOUNTRATE%></span>
        </div>
      </main>
</body>
</html> 